@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  align-items: center;
  color: #111928;
  overflow: hidden;
}